.Rproj.user/
*.Rhistory
.quarto/
.Rproj.user
/docs
ab-test-cookie-cats/ab-test-case-study.html
financial-markets-eda/financial-markets-eda.html
fandango-ratings-eda/fandango-ratings-eda.html
.vscode/

